body {
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    overflow-y: auto;

    
}

.ul-style {
    list-style: none;
    padding-left:0;
    padding-bottom: 5px;
  }

.li-style {
    margin: 10px;
}

.li-style-highlight {
    margin: 10px;
    background-color: #FFFF00
}

.main {
    width: 70vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
  
}

.verdict {
    text-align: center;
}


.input {
    margin-top: 25%;
    width: 100%;
 
}

.answer {
    text-align: left;
    margin-top: 5%;
    min-width: 100%;
}

.inline {
    display: inline;
    padding: 0;
}

.formSection {
    text-align: left;
}

.sentences {
    width: 100%;
    border-style: solid;
    margin-bottom: 25%;
}
